/***** BASE STYLES *****/

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body{
  font-family: 'Montserrat';
  color: ;
  background-color: white;
  margin:0 auto;
}

.container {
  width:1200;
  margin:0 auto;
}


#welcome {
  height:479px;
}

#about {
  height:210px;
}

#footer {
  height:50px;
}



/***** GRID *****/

.full-width {
  width:1200px;
  margin: 0px auto;
}

.half-width {
  width:600px;
  float:left;
}

.third-width {
  width:335px;
  float:left;
  border-top: 1px solid #dedbdc;
  border-bottom: 1px solid #dedbdc;
  height:210px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;


}


/***** HEADER *****/

header {
  height:;
  background-image:;
  background-size: cover;

}

header h1 {
  padding: 65px 0 65px 25px;
  font-family: 'Montserrat', serif;
  color:black;
  font-size: 30px;
  text-transform: uppercase;
}

header h1 span {
  color:#77a466;
}

nav {
  float:right;
  padding: 75px 25px;
  width:600px;
}



nav ul li {
  text-transform:uppercase;
  display: inline-block;
  font-size:14px;
  color:#77a466;
  padding-left: 25px;
}

/***** WELCOME SECTION *****/

#welcome {
  clear:both;
}

#hero {
  border-top: 5px solid #77a466;
  border-bottom: 5px solid #77a466;
}

#welcome h2 {
  font-size:18px;
  line-height:23px;
  font-weight:600;
  color:#77a466;
  text-transform: uppercase;
  padding-top: 15px;
}

#welcome p {
  font-size:16px;
  line-height:25px;
}

/***** ABOUT *****/

#about #reviews {
  border-left: 1px solid #dedbdc;
  border-right: 1px solid #dedbdc;
  text-align: justify;
}

#about #menu {
  border-left: 1px solid white;
}

#about #contact {
  border-right: 1px solid white;
}

#about h3 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
}

#about ul {
  font-size: 16px;
  color: #77a466;
  line-height:40px;
  list-style: none;
  margin:0;
  padding:0;

}

#about p {
  font-size: 16px;
  line-height: 21px;
}

/**** FOOTER *****/

#footer {
  text-align: center;
  padding:40px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
}

#footer span {
  font-family: 'Wisdom Script', cursive;
  text-transform: lowercase;
  color: #77a466;
}
